@import "tailwindcss";
@import "./titles.css";

@font-face {
  font-family: "GeistVF";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/GeistVF.woff") format("woff");
}

@font-face {
  font-family: "GeistMonoVF";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/GeistMonoVF.woff") format("woff");
}

/* Основні стилі */
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  font-family: "GeistVF", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Темна тема */
.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* Стилі модального вікна */
.modal-overlay {
  @apply bg-[var(--modal-overlay)];
}

.modal-content {
  @apply bg-[var(--background)] text-[var(--foreground)] border-[var(--border-color)] p-4 rounded-lg max-w-[600px] w-[90%];
}

/* Відео фон */
.video-container {
  @apply absolute inset-0 w-screen h-dvh overflow-hidden -z-10;
}

.video-bg {
  @apply absolute top-1/2 left-1/2 w-full h-full object-cover -translate-x-1/2 -translate-y-1/2;
  filter: brightness(0.5) blur(5px) contrast(1.2);
}

.overlay {
  @apply absolute inset-0 w-full h-full flex items-center justify-center text-white text-center bg-[#17171763];
}

.title {
  @apply text-5xl font-bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
